@import url('https://fonts.googleapis.com/css?family=Crimson Pro');

html {
	box-sizing: border-box;
	overflow: hidden;
}

html,
body {
	background-color: #000000;
	color: #cccccc;
	height: 100vh;
	font-family: 'Crimson Pro';
}
